# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# anything in the bin 
bin

# anything in a build, install, log, or parameters dir
*build*
*install*
*log*
*parameters*

# the ceres library
ceres-solver-2.2.0

# the realsense library
librealsense-2.53.1
