[submodule "dependencies/YDLidar-SDK"]
	path = dependencies/YDLidar-SDK
	url = https://github.com/YDLIDAR/YDLidar-SDK.git
[submodule "dependencies/pcl"]
	path = dependencies/pcl
	url = https://github.com/PointCloudLibrary/pcl.git
[submodule "dependencies/openvr"]
	path = dependencies/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "src/nav/nav_ws/src/kurome"]
	path = src/nav/nav_ws/src/kurome
	url = https://github.com/qeftser/kurome.git
[submodule "src/nav/nav_ws/src/diff_drive"]
	path = src/nav/nav_ws/src/diff_drive
	url = https://github.com/qeftser/odrive_diff_drive.git
