[Unit]
Description=Bender Process Daemon
ConditionPathExists=/etc/bender/daemon.conf
ConditionPathExists=/etc/bender/cmd.conf

[Service]
EnvironmentFile=-/etc/bender/daemon.conf
ExecStart=/usr/sbin/benderd $ROS_DISTRO $BENDER_HOSTNAME $BENDER_DIR
ExecReload=/usr/bin/bender -r
Restart=on-abnormal
Type=notify
FileDescriptorStoreMax=1

[Install]
WantedBy=multi-user.target
Alias=benderd.service
